*
!*/
!content/html/document/src/*
!content/html/content/src/*
!js/src/jsfriendapi.*
!dom/bindings/Bindings.conf
!content/base/src/nsXMLHttpRequest.*
!content/base/src/WebSocket.*
!dom/indexedDB/IDBFactory.*
!dom/plugins/base/nsJSNPRuntime.cpp
!content/base/src/Element.cpp
!content/base/public/Element.h
!content/base/public/nsIDocument.h
!content/base/src/nsDocument.*
!yuchen/*
!dom/base/*.cpp
!dom/base/*.h
!/.gitignore
!/dom/bindings/codegen.py